@font-face {
    src: url(fonts/Orpheus-Pro.otf);
    font-family: Orpheus-Pro;
}

body {
    font-family: 'Orpheus-Pro'!important;
}

.bolded {
  font-size: 17px!important;
}

.bolded2 {
  font-size: 20px!important;
}

.about {
    width: 120px;
    height: 31px;
    left: 43px;
    top: 8px!important;
    background-image: url('/css/fonts/icons/about.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.about:hover {
    background-position: 0 -1px;
  }

.aboutFont {
    font-family: 'Orpheus-Pro'!important;
    color: black!important;
  }


  .consulting {
    width: 45px;
    height: 31px;
    left: 29px;
    top: 4px!important;
    background-image: url('/css/fonts/icons/consulting.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.consulting:hover {
    background-position: 0 -1px;
  }

.consultingFont {
      font-family: 'Orpheus-Pro'!important;
      color: black!important;
  }

  .consulting {
    width: 45px;
    height: 31px;
    left: 29px;
    top: 8px!important;
    background-image: url('/css/fonts/icons/consulting.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.consulting:hover {
    background-position: 0 -1px;
  }

.consultingFont {
      font-family: 'Orpheus-Pro'!important;
      color: black!important;
  }

  .follow {
    width: 45px;
    height: 31px;
    left: 11px;
    top: 8px!important;
    background-image: url('/css/fonts/icons/follow.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.follow:hover {
    background-position: 0 -1px;
  }

.followFont {
      font-family: 'Orpheus-Pro'!important;
      color: black!important;
  }

  .resources {
    width: 45px;
    height: 31px;
    left: 21px;
    top: 8px!important;
    background-image: url('/css/fonts/icons/resources.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.resources:hover {
    background-position: 0 -1px;
  }

.resourcesFont {
      font-family: 'Orpheus-Pro'!important;
      color: black!important;
  }

  .email {
    width: 45px;
    height: 31px;
    left: 6px;
    top: 8px!important;
    background-image: url('/css/fonts/icons/email.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
.email:hover {
    background-position: 0 -1px;
  }

.emailFont {
      font-family: 'Orpheus-Pro'!important;
      color: black!important;
  }

  .mainHeader {
    font-family: 'Orpheus-Pro'!important;
  }

  .mainHeader2 {
    font-family: 'Orpheus-Pro'!important;
  }

  .mainHeaderButton {
    font-family: 'Orpheus-Pro'!important;
  }

  @media only screen and (max-width: 3600px) {
    .aeLogo {
      width: 66%!important;
    }
  }

  .developedBy {
    color: blue!important;
  }

  .connectFooter {
    left: 24px!important;
    /* border: 3px pink solid; */
    /* text-align: center; */
  }

  .facebookFooter {
    background-image: url('/css/fonts/icons/facebook.svg')!important;
    background-position: 0 0!important;
    background-repeat: no-repeat!important;
  }
  .facebook:hover {
    background-position: 0 -1px;
  }

  .twitterFooter {
    background-image: url('/css/fonts/icons/twitter.svg')!important;
    background-position: 0 0!important;
    background-repeat: no-repeat!important;
  }

  .linkedinFooter {
    background-image: url('/css/fonts/icons/linkedin.svg')!important;
    background-position: 0 0!important;
    background-repeat: no-repeat!important;
  }

  .box_leftH2 {
    font-family: 'Orpheus-Pro'!important;
  }

  .consultingCircle {
    display: flex!important;
    margin-left: 13px!important;
    margin-top: 14px!important;
    background-image: url('/css/fonts/icons/consulting.svg');
    background-position: 100 0;
    background-repeat: no-repeat;
  }


  .consultingCircle:hover {
    background-position: 0 -1px!important;
  }

  .resourcesCircle {
    display: flex!important;
    margin-left: 14.5px!important;
    margin-top: 12.5px!important;
    top: 10px!important;
    z-index: 999;
    background-image: url(/css/fonts/icons/resources.svg);
    background-position: 0px 1px;
    background-repeat: no-repeat;
  }

  .resourcesCircle:hover {
    background-position: 0 -0.2px;
  }

  .thinkingBox {
    font-family: 'Orpheus-Pro'!important;
    font-size: 19px;
  }

  .successStories {
    font-family: 'Orpheus-Pro'!important;
    font-size: 52px;
  }

  .caseStudy {
    font-family: 'Orpheus-Pro'!important;
    font-size: 12px;
  }

  .successStoriesDisclaimer {
    font-family: 'Orpheus-Pro'!important;
    font-size: 23px;
  }

  .copyrightPart {
    /* margin-top: 30px!important; */
  }

  .consultingHeader {
    font-family: 'Orpheus-Pro'!important;
    font-size: 33px;
  }

  .resourcesHeader {
    font-family: 'Orpheus-Pro'!important;
    font-size: 33px;
  }

  .centerPlan {
    color: black!important;
    font-size: 17px!important;
  }

  .centerPlan {
    font-size: 14px!important;
  }

  .letUsHelpYou {
    color:#00ACEC!important;
    font-size: 17px!important;
  }

  .readMoreTestimonials {
    color:#00ACEC!important;
    font-size: 17px!important;
  }

  .whatWeDoTitle {
    font-family: 'Orpheus-Pro'!important;
    font-size: 66px!important;
    text-align: center;
  }

  .whatWeDoParagraph {
    font-size: 17px!important;
  }

  .testimonialsHeader {
    font-family: 'Orpheus-Pro'!important;
    font-size: 49px!important;
    text-align: center;
    margin-top:8px;
  }

  .footerPhone {
    background-image: url(/css/fonts/icons/phone.svg);
    background-position: 0px 1px;
    background-repeat: no-repeat;
  }

  .footerPhone::before {
    background-image: url(/css/fonts/icons/phone.svg);
    background-position: 0px 1px;
    background-repeat: no-repeat;
  }

  .theAEAdvantage {
    font-family: 'Orpheus-Pro'!important;
    text-align: center;
  }

  .successStoriesArticles {
    font-family: 'Orpheus-Pro'!important;
  }

  .successStoriesHeader {
    font-family: 'Orpheus-Pro'!important;
    text-align: center;
  }

  .ourApproachHeader {
    font-family: 'Orpheus-Pro'!important;
    font-size: 49px!important;
    text-align: center;
  }
  
  .searchInput {
    border: 1px solid rgb(55, 55, 55)!important;
  }

  .whatWeDoQuestions {
    font-size: 17px;
  }

  #secondary {
    /* display: flex; */
  }

  #s { 
    border: 1px solid #3e3e3e!important;
  }

  .widget-title {
    font-size: 31px;
  }

  .phoneNumberFooter {
    font-size:15px;
  }

  .copyrightText, .developedByText, .developerText {
    font-size: 15px!important;
    color: black!important;
  }
  

